# yeah so we don't wanna give randoms your server files.. these are potentially dangerous.
servers/*/

# get your nasty boogers off my documents
todo.txt
app/todo.txt
# useless debugging, just resets data if you really wanna know ;)
debug.php
# markdown files
readmecss.md
changelog.md